<div class="container text-center py-3" >
    <h2 class="fw-bold font-monospace" >Gestión de Información Docente Unicauca</h2>
    <div class="row py-5">
        <div class="col ">
            <app-menu-opcion titleCard="Docente" urlImage="https://png.pngtree.com/png-vector/20230828/ourmid/pngtree-the-man-is-looking-at-a-picture-with-glasses-on-vector-png-image_6942240.png" urlRouter="/gestionarDocente"></app-menu-opcion>
        </div>
        <div class="col">
            <app-menu-opcion titleCard="Cuestionario" urlImage="https://png.pngtree.com/png-clipart/20231002/original/pngtree-documents-and-checklists-illustration-in-minimal-style-png-image_13067396.png"></app-menu-opcion>
        </div>
        <div class="col">
            <app-menu-opcion titleCard="Respuestas" urlImage="https://ouch-cdn2.icons8.com/5eT6XqimICY4SOl_SXgzGtvoaOXw5wswB8JZqDzWIhc/rs:fit:368:368/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNDEw/L2MzOTc1NTExLTNm/OWUtNGUyMi05NmU4/LWVmY2Q4NDJkOWM1/Yi5wbmc.png"></app-menu-opcion>
        </div>
    </div>
</div>
